[Unit]
Description=Web MPV
After=network.target graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/wplayer -d -c /etc/wplayer/wplayer.conf -l /etc/wplayer/log.conf
