<div class="row">
    <div class="col-lg-12">
        Currently playing: {{$ctrl.current_movie.idle?'No movie playing':$ctrl.current_movie.file_name}}
    <div>        
</div>
<div class="row" ng-if="!$ctrl.current_movie.idle">
    <div class="col-lg-6">
        <uib-progressbar class="progress-striped active" value="$ctrl.current_movie.percent_complete" max="100" ng-click="$ctrl.seekPercent($event)">{{$ctrl.current_movie.percent_complete}}%</uib-progressbar>
    </div>
    <div class="col-lg-6">
        {{$ctrl.current_movie.time_position|duration}} / {{$ctrl.current_movie.total_duration|duration}}
    </div>    
</div>
<div class="row" ng-if="!$ctrl.current_movie.idle">
    <div class="col-lg-6">
        <label title="If checked then clicking on the progress bar will change the movie play time">
            <input type="checkbox" ng-model="$ctrl.props.enable_seek"> Enable progress bar seek
        </label>
    </div>
</div>

<div class="row" ng-if="!$ctrl.current_movie.idle">

    <div class="col-lg-3">
        <button class="btn btn-default btn-xs" ng-click="$ctrl.backward()" title="Backward"><i class="fa fa-backward" aria-hidden="true"></i></button>
        <button class="btn btn-default btn-xs" ng-click="$ctrl.fastBackward()" title="Fast Backward"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>

        <button class="btn btn-default btn-xs" ng-click="$ctrl.pauseResumePlay()" title="Pause/Resume"><i ng-class="$ctrl.current_movie.paused?'fa fa-play':'fa fa-pause'" aria-hidden="true"></i></button>
        <button class="btn btn-default btn-xs" ng-click="$ctrl.stopPlay()" title="Stop"><i class="fa fa-stop" aria-hidden="true"></i></button>

        <button class="btn btn-default btn-xs" ng-click="$ctrl.fastForward()" title="Fast Forward"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
        <button class="btn btn-default btn-xs" ng-click="$ctrl.forward()" title="Forward"><i class="fa fa-forward" aria-hidden="true"></i></button>
    </div>
    <div class="col-lg-5">
        <label for="volume">Volume:</label>
        <input type="number" name="volume" id="volume" ng-model="$ctrl.current_movie.volume" ng-change="$ctrl.setVolume()">
    </div>
</div>
<div class="row">
    &nbsp;
</div>

<div class="row" ng-if="!$ctrl.current_movie.idle">
    <div class="col-lg-12">
            Subtitles:
    <div>      
    <div class="col-lg-12">
	<table class="table table-condensed">
		<thead>
			<td width="1%">ID</td>
			<td width="25%">Title</td>
                        <td width="35%">External file</td>
                        <td width="15%"></td>
		</thead>
		<tbody>
			<tr ng-repeat="sub in $ctrl.subs" ng-class="{info: sub.selected}">
				<td>{{sub.id}}</td>
				<td>                                        
                                    {{sub.title}}
				</td>
                                <td>{{sub["external-filename"]}}</td>
                                <td>
                                        <button ng-if="sub.selected" class="btn btn-danger pull-right" ng-click="$ctrl.removeSub(sub.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </td>
			</tr>
		</tbody>
	</table>
        
    <div>      
</div>
