<div class="row">
	<h4>Files Listing</h4>
	<p ng-if="cur_dir">Current directory: {{cur_dir}}</p>
</div>
<div class="row">
    <button ng-click="send()">Click</button>
    <button ng-click="stopPlay()">Close</button>
</div>
<div class="row">
	<table class="table table-condensed">
		<thead>
			<td width="1%">#</td>
			<td width="50%">Name</td>
                        <td width="15%">Size</td>
                        <td width="15%"></td>
		</thead>
		<tbody>
			<tr ng-repeat="file in files_list">
				<td>{{$index+1}}</td>
				<td>
					<i class="fa {{file.type==='dir'?'fa-folder':'fa-file'}}"></i>
                                        <a ng-if="file.type==='dir'" ng-click="loadFiles(file.link)" href="">{{file.name}}</a>
                                        <span ng-if="file.type==='file'">{{file.name}}</span>
				</td>
                                <td>{{(file.type==='file'?file.size:'')|bytes}}</td>
                                <td>
                                        <button ng-if="!file.parent" ng-click="playFile(file)">Play</button>
                                </td>
			</tr>
		</tbody>
	</table>
</div>
