<div class="row">
    <div class="col-md-12">
	<h4>Files Listing</h4>
	<p ng-if="cur_dir">Current directory: {{$ctrl.cur_dir}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
	<table class="table table-condensed">
		<thead>
			<td width="1%">#</td>
			<td width="50%">Name</td>
                        <td width="15%">Size</td>
                        <td width="15%"></td>
		</thead>
		<tbody>
			<tr ng-repeat="file in $ctrl.files_list">
				<td>{{$index+1}}</td>
				<td>
					<i class="fa {{file.type==='dir'?'fa-folder':'fa-file'}}"></i>
                                        <a ng-if="file.type==='dir'" href="#!/{{file.link}}">{{file.name}}</a>
                                        <span ng-if="file.type==='file'">{{file.name}}</span>
				</td>
                                <td>{{(file.type==='file'?file.size:'')|bytes}}</td>
                                <td>
                                        <button class="btn btn-default pull-right" ng-if="!file.parent" ng-click="playFile(file)"><i class="fa fa-play-circle-o" aria-hidden="true"></i></button>
                                </td>
			</tr>
		</tbody>
	</table>
    </div>
</div>

