<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img height="25" width="25" src="/img/logo_black.png"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="$ctrl.tabs['current']"><a href="#!/current" ng-click="$ctrl.setActive('current')"><i class="fa fa-play-circle" aria-hidden="true"></i> Now Playing</a></li>
            <li ng-class="$ctrl.tabs['movies']"><a href="#!/movies" ng-click="$ctrl.setActive('movies')"><i class="fa fa-film" aria-hidden="true"></i> Movies</a></li>
            <li ng-class="$ctrl.tabs['playlist']"><a href="#!/playlist" ng-click="$ctrl.setActive('playlist')"><i class="fa fa-list-alt" aria-hidden="true"></i></i> Playlist</a></li>
            <li ng-class="$ctrl.tabs['custom']"><a href="#!/custom" ng-click="$ctrl.setActive('custom')"><i class="fa fa-youtube-play" aria-hidden="true"></i> Custom</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-class="settings_active"><a href="#!/settings"><i class="fa fa-gear"  aria-hidden="true"></i> Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>
